<%- include include/header.html %>

<div class="container">
    <ul class="media-list">
        <%
          for(var i=0;i<articles.length;i++){
           var article = articles[i];
           %>
        <li class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="<%=article.user.avatar%>" alt="<%=article.user.username%>" width="64" height="64">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="/articles/detail/<%=article._id%>"><%=article.title%></a></h4>
                <p><%- article.content %></p>
                <p>
                    <img src="<%=article.img%>" style="max-height:200px" alt="">
                </p>
            </div>
        </li>
           <%
        }
        %>

    </ul>
</div>

<%- include include/footer.html %>